main#film {
  margin: 1.5rem auto;

  .film-info {
    margin-bottom: 0.5rem;

    h3 {
      line-height: 40px;
      font-weight: 600;
    }

    p:last-child {
      font-style: italic;
    }

    @media (max-width: $screen-sm) {
      h3 {
        font-size: 32px;
        font-weight: 500;
      }

      p {
        font-size: 15px;
      }
    }
  }

  .film-link {
    display: inline-flex;
  }

  .vimeo-video-container {
    padding-top: 56.25%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }

  .trigger-warning p {
    text-align: right;
    margin-top: 0.1rem;
    font-size: 14px;
    color: $colors-text-muted;
  }

  .film-text {
    h3 {
      font-weight: 600;
    }
    span {
      font-weight: 600;
    }
  }
}
