.field-container {
  display: flex;
  flex-direction: column;
  font-family: $font-family;

  label {
    display: inline-block;
    text-align: left;
    width: 100%;
    color: $colors-text;
    font-size: 18px;
    font-weight: 400;
  }

  .field-errors {
    color: $colors-error;
    font-size: 14px;
    margin-left: 0.25rem;
  }

  @media (max-width: $screen-md) {
    label {
      font-size: 16px;
      margin-bottom: 0.1rem;
    }

    input,
    textarea {
      font-size: 14px;
    }
  }
}

.input-line {
  display: flex;
  flex-direction: column;
  border: $colors-collab-accent solid 2px;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  height: 3rem;
  background: white;

  &:focus-within {
    box-shadow: 0 0 0 2px $colors-light-blue;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
  }

  input {
    position: relative;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-width: 0px;
    padding: 0px;
    color: $colors-text;
    font-size: 18px;

    &::placeholder {
      color: rgb(185, 185, 185);
      opacity: 1;
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $colors-disabled-button;
      cursor: not-allowed;
    }
  }

  &.input-disabled {
    background: $colors-disabled-button;
    cursor: not-allowed;
  }
}

.textarea-line {
  display: flex;
  flex-direction: column;
  border: $colors-collab-accent solid 2px;
  border-radius: 5px;
  background: white;

  &:focus-within {
    box-shadow: 0 0 0 2px $colors-light-blue;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
  }

  textarea {
    position: relative;
    resize: vertical;
    margin: auto 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-width: 0px;
    padding: 0.75rem;
    color: $colors-text;
    cursor: auto;
    font-size: 16px;

    &::placeholder {
      color: rgb(185, 185, 185);
      opacity: 1;
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: $colors-disabled-button;
      cursor: not-allowed;
    }

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      background: $colors-dark-bg;
    }
  }

  &.textarea-disabled {
    background-color: $colors-disabled-button;
    cursor: not-allowed;
  }
}
