nav {
  font-size: 20px;
  margin: 1.5rem 0;
  font-weight: 500;

  ul.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 2rem;

      a {
        display: flex;
        flex-direction: row;
        text-align: center;
        margin: 0 10px;
        text-decoration: none;
        font-weight: 400;
        transition: all 0.2s ease;

        &:hover {
          padding-bottom: 5px;
          border-bottom: 2px solid gray;

          @media (max-width: 935px) {
            border-bottom: unset;
          }
        }

        &.selected {
          font-weight: 600;
          border-bottom: 2px solid gray;

          @media (max-width: 935px) {
            border-bottom: unset;
          }
        }
      }
    }
  }

  @media (max-width: 935px) {
    width: 100%;
    font-size: 22px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    ul.nav-container li a {
      margin: 0 5px;
    }
  }

  @media (max-width: $screen-sm) {
    font-size: 19px;
  }

  @media (max-width: $screen-xs) {
    ul.nav-container li a {
      font-size: 16px;
    }
  }
}
