main#contact {
  margin-bottom: 4rem;

  h2 {
    font-weight: 600;
  }

  .contact-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-top: 3rem;
    column-gap: 1.5rem;

    @media (max-width: 430px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .contact-body-left {
      form {
        display: flex;
        flex-direction: column;
        max-width: 500px;

        .field-container:not(:last-child) {
          margin-bottom: 0.75rem;
        }

        @media (max-width: 768px) {
          button {
            font-size: 16px;
            padding: 0.5rem 0.7rem;
          }
        }
      }

      h3.contact-divider {
        margin: 1rem 0;
        font-size: 31px;
        font-weight: 700;
      }

      .links-container {
        display: flex;
        align-items: flex-start;
        justify-items: center;
        flex-direction: column;
        margin-bottom: 2rem;

        .email-link,
        .vimeo-link {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          a {
            display: flex;
            align-items: center;
            color: $colors-dark-purple;
            margin-right: 0.5rem;
            font-size: 18px;
            font-weight: 600;
            flex-shrink: 0;

            &:hover {
              text-decoration: underline;
            }

            & > svg {
              width: 35px;
              height: 35px;
              margin-right: 0.75rem;
              color: $colors-collab-accent;
            }

            @media (max-width: $screen-sm) {
              font-size: 14px;
            }
          }
        }

        button.copy-button {
          padding: 0.4rem 0.5rem;
          background: $colors-dark-purple;
          outline: none;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          svg {
            width: 12px;
            height: auto;
            path {
              stroke: $colors-white;
            }
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .contact-body-right {
      img {
        margin-top: 1rem;
        width: 100%;
        height: auto;
      }
    }
  }
}
