main#films {
  h2 {
    font-weight: bold;
  }

  .films-showcase {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 2rem;

    .film {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-img {
        width: 100%;
        height: 230px;
        position: relative;
        overflow: hidden;

        img {
          transition: transform 0.8s ease;
        }

        &:hover img {
          transform: scale(1.1);
        }

        &:hover .overlay {
          opacity: 1;
          transform: scale(1);
        }

        .overlay {
          position: absolute;
          background-color: #353a4285;
          width: 100%;
          height: 100%;
          top: 0;
          transform: scale(1.3);
          opacity: 0;
          transition: transform 0.4s ease 0s;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 25px;
            color: $colors-white;
            width: 100%;
            text-align: center;
            font-family: Sans-serif;
          }
        }
      }

      &-caption {
        text-align: center;
        font-style: italic;
        margin-top: 0.5rem;
      }
    }
  }
}
