main#films {
  h2 {
    font-weight: bold;
  }

  .films-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .film {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-img {
        width: 100%;
        height: auto;
        max-height: 450px;
        object-fit: fill;
        position: relative;
        overflow: hidden;
        box-shadow: 0 3px 10px 3px rgba(80, 80, 80, 0.329);
        border-radius: 5px;

        img {
          transition: transform 0.8s ease;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 1rem;

        .film-caption {
          text-align: center;
          font-style: italic;
          font-size: 35px;
        }
      }
    }
  }
}
