main#films {
  h2 {
    font-weight: 600;
  }

  .films-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .film {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5rem;

      &-img {
        img {
          border-radius: 5px;
          box-shadow: 0 3px 10px 3px rgba(80, 80, 80, 0.329);
          transition: transform 0.8s ease;
          width: 100%;
          height: auto;
          max-height: 500px;
          object-fit: cover;
        }

        &:hover img {
          transform: scale(1.01);
        }
      }

      &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 0.25rem;

        .film-caption {
          font-size: 30px;
          font-weight: 400;
          span {
            font-size: 20px;
          }
        }
        @media (max-width: $screen-sm) {
          margin-top: 0.5rem;
          .film-caption {
            font-size: 20px;
            span {
              font-size: 16px;
            }
          }
        }

        svg {
          fill: $colors-black;
          width: 3rem;
          height: 3rem;
          transition: all 0.5s ease-in-out;

          &:hover {
            transform: rotate(-45deg);
            background: $colors-light-blue;
            border-radius: 999px;
          }
        }
      }
    }
  }
}
