main#other {
  .collaborations-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .collaboration {
      display: flex;
      gap: 1rem;

      .left-pane {
        flex: 2;
        img {
          box-shadow: 3px 3px 10px 2px rgba(68, 68, 68, 0.452);
        }
      }

      .right-pane {
        flex: 3;
        position: relative;
        margin-top: -0.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        h4 {
          font-weight: bold;
        }

        .collab-btn {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          background: $colors-collab-accent;

          svg {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
}
