$screen-2xs: 380px;
$screen-xs: 420px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only {
  @extend %sr-only;
}

body {
  background-color: $colors-light-bg;
  font-size: 16px;
}

main {
  max-width: 100ch;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem 2rem 0 2rem;

  @media (max-width: $screen-md) {
    max-width: 73ch;
    padding: 0 0.5rem;
  }

  @media (max-width: $screen-sm) {
    max-width: 68ch;
    padding: 0 0.5rem;
  }
}

.top {
  max-width: 170ch;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 935px) {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  @media (max-width: $screen-md) {
    max-width: 150ch;
    padding: 0 0.5rem;
  }

  @media (max-width: $screen-sm) {
    max-width: 130ch;
  }
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background: $colors-horizontal-line;
  margin: 1rem 0;
}

img {
  border-radius: 5px;
  overflow: hidden;
}

.page-loading-animation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.Toastify__toast-container {
  .toastify-custom {
    font-size: 16px;
    font-family: $font-family;
    width: fit-content;
    min-width: 320px;
    padding: 0.5rem 0.8rem 0.5rem 1rem;

    @media (max-width: $screen-sm) {
      min-width: unset;
      width: 300px;
    }
  }

  .submit-form-success {
    background: $colors-dark-gray;
    color: $colors-white;
    font-size: 16px;
    font-family: $font-family;
    width: fit-content;
    padding: 8px 0.8rem 8px 1rem;

    .Toastify__close-button {
      color: $colors-white;
      opacity: 0.87;
    }
  }

  .error-toast {
    font-size: 16px;
  }

  .Toastify__progress-bar {
    background: $colors-light-blue;
  }
}
