$screen-2xs: 380px;
$screen-xs: 420px;
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only {
  @extend %sr-only;
}

body {
  background-color: $colors-light-bg;
  font-size: 16px;
}

.app {
  max-width: 85ch;
  margin: 0 auto;
  padding: 0 0.5rem;

  @media (max-width: $screen-md) {
    max-width: 73ch;
  }

  @media (max-width: $screen-sm) {
    max-width: 68ch;
  }
}

main {
  margin-bottom: 2rem;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background: $colors-horizontal-line;
  margin: 1rem 0;
}

img {
  border-radius: 5px;
  overflow: hidden;
}
