// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap");

$orange: #ff7b01;
$dark-gray: #27292b;
$Baskerville: Baskerville, Baskerville Old Face, Hoefler Text, Garamond,
  Times New Roman, serif;

body {
  font-family: $Baskerville;
  scroll-behavior: smooth;
}

@import "./system/resets";
@import "./system/colors";
@import "./system/text";
@import "./system/button";
@import "./common";

// @import "./components/_navbar.scss";
// @import "./components/_footer.scss";
// @import "./components/_socialMediaRow";
// @import "./components/loadingIcon";
// @import "./components//loadingIconTwo";
// @import "./components//preloader";

// @import "./pages/_home.scss";
// @import "./pages/about";
// @import "./pages/updates";
// @import "./pages/books";
// @import "./pages/contact";
