$colors-text: rgb(42, 42, 42);
$colors-text-muted: #555a5f;

$colors-black: #000000;
$colors-white: #ffffff;
$colors-orange: #ff7b01;
$colors-dark-gray: #27292b;
$colors-light-gray: rgba(20, 19, 19, 0.781);
$colors-dark-purple: rgb(55, 48, 163);

$colors-collab-accent: rgb(8, 22, 85);
$colors-horizontal-line: rgb(83, 83, 83);

$colors-dark-bg: rgb(24, 24, 27);
$colors-light-bg: hsla(219, 83%, 92%, 100%);
