$font-family: Baskerville, Baskerville Old Face, Hoefler Text, Garamond,
  Times New Roman, serif;

body {
  font-family: $font-family;
  color: $colors-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin: 0;
  padding: 0;
  color: $colors-text;
  font-family: $font-family;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: $colors-text;
  text-decoration: none;
}
