:root {
  --footer-color: #f2f2f2;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
  -webkit-font-smoothing: antialiased;
  background: white;
  color: black;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin:0;
  padding:0;
  color: black;
  font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Container */
.container {
  max-width: 45%;
  margin:auto;
  overflow: hidden;
}

.name-container {
  max-width: 69%;
  margin:auto;
  overflow: hidden;
}

.collab-container {
  max-width: 48%;
  margin:auto;
  overflow: hidden;
}

/* Text styles */
.bold {
  font-weight: 700;
}

.italicize{
  font-style: italic;
}

.text-sm {
  font-size: 0.9rem;
}

.text-md {
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}

.line-height-sm {
  line-height: 0.6;
}

/* Buttons */
.btn {
  display: inline-block;
  color:white;
  padding: 0.54rem 0.2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline:none;
  border-radius: 2px;
  width: 150px;
  border-radius: 10px;
}

.btn-interview {
  width: 240px;
}

.btn-interview:hover {
  opacity: 0.9;
}

.btn:hover {
  opacity: .9;
}

.btn-dark {
  background: black;
}

.btn span:hover{
  border-bottom: 2px white solid;
  padding-bottom:2px;
  margin-right:0.5rem;
  transition-duration: 0.3s;
}

/* Header + navbar */
.header{
  line-height: 0.87em;
}

#navbar {
  overflow: hidden;
  float: left;
  z-index: 1;
  width: 100%;
}

#navbar ul {
  margin:0;
  padding:0;
  list-style:none;
}

#navbar ul li {
  float:left;
  padding: 15px 0px;
  width: 20%;
}

#navbar a {
  float: left;
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  padding: 6px 18px;
  margin: 0.45rem 1rem 0.45rem 0;
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover {
  font-weight: 900;
}

#navbar a.active {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
}

.content {
  padding: 16px;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} */

/* Showcase */
.video-showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 2rem 2rem 2rem;
  grid-gap: 1.5rem;
}

.video-showcase img {
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.video-showcase .film-title {
  text-align: center;
  font-style: italic;
}

.video-showcase .collab-title {
  text-align: center;
  font-weight: 600;
}

.middle {
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #333;
  text-align: center;
}

.ind-video {
  position: relative;
}

.ind-video:hover .middle {
  opacity: .8;
}

.ind-video:hover .text {
  opacity: 1;
}

.text {
  color: white;
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Video */
.right-align {
  text-align: right;
  margin-top: 0.2rem;
}

.video-title {
  margin-top: 0.1rem;
}

.video-title h3{
  margin-top: 0.2rem;
  margin-bottom:0;
}

.video-title p {
  margin:0;
  font-size: 16px;
}

.video-title a {
  margin-top: 0.2rem;
}

/* Synopsis */
.synopsis{
  font-size: 12pt;
}

/* Credits */
.credits li{
  font-size: 12pt;
}


/* Contacts */
.contact {
  margin-top:0.5rem;
  padding-top: 0.3rem;
}

.contact .contact-font {
  font-size:16px;
}

.icon-contact-phone {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #000000;
  color: #fff;
  border-radius: 20px; 
}

.icon-contact {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #000000;
  color: #fff;
  border-radius: 20px; 
}

.icon-contact:hover {
  background: rgb(182, 182, 182);
  color:black;
  border-radius: 20px; 
  text-decoration: none;
}

/* Footer */
.copyright {
  background: white;
  padding: 1rem 0 1rem 0;
  font-size: 16px;
}