:root {
  --footer-color: #f2f2f2;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  background: white;
  color: black;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: black;
  text-decoration: none;
}

p {
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

/* Container */
.container {
  max-width: 45%;
  margin:auto;
  overflow: hidden;
}

.nav-container {
  max-width: 65%;
  margin:auto;
  overflow: hidden;
}

.collab-container {
  max-width: 48%;
  margin:auto;
  overflow: hidden;
}

/* Text styles */
.bold {
  font-weight: 700;
}

/* Buttons */
.btn {
  display: inline-block;
  color:white;
  padding: 0.54rem 0.2rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  outline:none;
  border-radius: 2px;
  width: 170px;
  border-radius: 10px;
}

.btn-interview {
  width: 240px;
}

.btn-interview:hover {
  opacity: 0.9;
}

.btn:hover {
  opacity: .9;
}

.btn-dark {
  background: black;
}

.btn span:hover{
  border-bottom: 2px white solid;
  padding-bottom:2px;
  margin-right:0.5rem;
  transition-duration: 0.3s;
}

/* Header + navbar */
.header {
  background: url("../assets/mountain.jpg") no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.header-film {
  background: url("../assets/mountain.jpg") no-repeat;
  background-position: 0% 60%;
  background-size: cover;
  padding: 0.1rem 0 0.1rem 0;
  text-align: center;
  width: 100%;
}

#navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  z-index: 1;
}

#navbar a {
  float: left;
  display: flex;
  flex-direction: row;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 18px;
  margin: 0.45rem 3rem 0.45rem 0;
  text-decoration: none;
  font-size: 20px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

#navbar a.active {
  background-color: rgb(116, 116, 116);
  color: white;
  border-radius: 5px;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Showcase */
.video-showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  margin-bottom: 4rem;
  grid-gap: 1.5rem;
}

.video-showcase a {
  max-height: 500px;
  width: 100%;
}

.video-showcase img {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.video-showcase-collab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  margin-bottom: 4rem;
  grid-column-gap: 1.5rem;
}

.video-showcase-collab img {
  width: 100%; /* width of container */
  height: 450px; /* height of container */
  max-height: 400px;
  object-fit: cover;
  object-position: 40% 0%; 
  border-radius: 12px;
}

.ind-video .middle {
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #333;
  border-radius: 12px;
  text-align: center;
}

.ind-video {
  position: relative;
}

.video-showcase-collab .ind-video:hover img{
  opacity: .3;
}

.video-showcase-collab p{
  margin: 0;
}

.ind-video:hover .middle {
  opacity: .8;
}

.ind-video:hover .text {
  opacity: 1;
}

.text {
  color: white;
  opacity: 0;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.video-showcase-collab .text {
  font-size: 40px;
  color: black;
}


/* Video */
.right-align {
  text-align: right;
  margin-top: 0.2rem;
}

.video-title {
  margin-top: 0.1rem;
}

.video-title h3{
  margin-top: 0.2rem;
  margin-bottom:0;
}

.video-title p {
  margin:0;
  font-size: 16px;
}

.video-title a {
  margin-top: 0.2rem;
}

.italicize{
  font-style: italic;
}

/* Synopsis */
.synopsis{
  font-size: 12pt;
}

/* Credits */
.credits li{
  font-size: 12pt;
}


/* Contacts */
.contact {
  margin-top:0.5rem;
  padding-top: 0.3rem;
}

.contact .contact-font {
  font-size:16px;
}

.icon-contact-phone {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #000000;
  color: #fff;
  border-radius: 20px; 
}

.icon-contact {
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #000000;
  color: #fff;
  border-radius: 20px; 
}

.icon-contact:hover {
  background: rgb(182, 182, 182);
  color:black;
  border-radius: 20px; 
  text-decoration: none;
}

/* Footer */
.copyright {
  background: white;
  padding: 1rem 0 1rem 0;
  font-size: 16px;
}